
.compact-inc.cirru
.calcit-error.cirru

js-out/
node_modules/
.yarn/*.gz
dist/
dist-server/
.calcit/
compact.cirru
package.cirru
out-page/

yarn-error.log

storage.cirru
backups/
.pnp.cjs
.pnp.loader.mjs
