
*
  box-sizing border-box
  -moz-box-sizing  border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

body
  margin 0px
  height 10px
  font-size 14px
  font-family Ubuntu, 'microsoft yahei'
  width 2000px
  // overflow hidden

input
  border none
  outline none
  box-shadow 0px 0px 8px hsl(0,0,70)
  padding 4px

#clock
  position absolute
  top 60px
  left 40px
  font-size 60px
  color hsl(240,50,94)

#msg
  position absolute
  top 140px
  left 40px
  width 280px
  white-space nowrap
  overflow hidden

  .error
    background hsl(0,0,95)
    margin 6px 0px
    padding 4px

    .err-name
      color red
      margin-right 8px
      line-height 20px

#setting
  position fixed
  right 0px
  height 100%
  width 40px
  background hsl(0,0,93)
  padding 40px 30px
  box-shadow -4px 0px 8px hsl(0,0,80)

  .item
    margin 10px 0px
    white-space nowrap

    span
      width 70px
      display inline-block

  #avatar
    width 200px
    height 200px
    margin-top 20px

  #toggle
    color hsl(240,90,80)
    cursor pointer
    height 20px
    width 20px
    text-align center
    vertical-align middle
    box-shadow 0px 0px 10px gray
    border-radius 10px
    margin-bottom 50px

    &:hover
      color blue

#page
  background hsl(0,0,90)
  position absolute
  height 100%
  width 1400px
  left 340px
  margin-right 800px

  #posts, #topic
    width 50%
    height 100%
    position relative
    float left

  #posts
    background hsl(0,0,97)

    #type
      height 20px
      position absolute
      bottom 0px
      width 100%
      
  #show, #inside
    padding 60px 0px 400px 0px
    margin 0px
    overflow-x hidden
    overflow-y scroll
    background hsl(240,40,98)
    height 100%
    width 100%

  .unit
    padding 4px
    -webkit-transition-duration 0.4s
    height 40px
    overflow hidden

    &:nth-child(2n)
      background hsla(240,20,95,0.8)
    &:nth-child(2n+1)
      background hsla(240,20,97,0.8)

    .content
      display inline-block
      width 640px

    .text, .avatar
      vertical-align middle
      display inline-block
      margin-left 8px
      white-space nowrap

    .avatar
      width 30px
      height 30px
      box-shadow 0px 0px 4px gray

  .unit.joined
    background hsl(240,90,95)

  #topic
    background hsl(0,0,90)

    #add
      position absolute
      bottom 0px
      right 0px
      width 40px
      height 30px
      text-align center
      vertical-align middle
      background hsl(0,0,97)
      font-size 24px
      box-shadow -2px -2px 6px gray
      border-radius 10px 0px 0px 0px
      color gray

      #create
        position absolute
        width 700px
        top 0px
        right 0px
        display none

      span
        display inline-block