* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
body {
  margin: 0px;
  height: 10px;
  font-size: 14px;
  font-family: Ubuntu, 'microsoft yahei';
  width: 2000px;
  height: 100%;
  position: absolute;
}
input {
  border: none;
  outline: none;
  box-shadow: 0px 0px 8px #b3b3b3;
  padding: 4px;
}
#clock {
  position: absolute;
  top: 60px;
  left: 40px;
  font-size: 60px;
  color: #e8e8f7;
}
#msg {
  position: absolute;
  top: 140px;
  left: 40px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
}
#msg .error {
  background: #f2f2f2;
  margin: 6px 0px;
  padding: 4px;
}
#msg .error .err-name {
  color: #f00;
  margin-right: 8px;
  line-height: 20px;
}
#setting {
  position: fixed;
  right: 0px;
  height: 100%;
  width: 40px;
  background: rgba(237,237,237,0.8);
  padding: 40px 30px;
  box-shadow: -4px 0px 8px #ccc;
}
#setting .item {
  margin: 10px 0px;
  white-space: nowrap;
}
#setting .item span {
  width: 70px;
  display: inline-block;
}
#setting #avatar {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
#setting #toggle {
  color: #9e9efa;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
#setting #toggle:hover {
  color: #00f;
}
#page {
  background: #f7f7f7;
  position: absolute;
  height: 100%;
  width: 1400px;
  left: 340px;
  margin-right: 800px;
}
#page #posts,
#page #topic {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
}
#page #posts #type {
  position: absolute;
  bottom: 20px;
  width: 100%;
  box-shadow: 0px 0px 20px #999;
}
#page #show,
#page #inside {
  padding: 60px 0px 400px 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
#page .unit {
  padding: 4px;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: background;
  height: 40px;
  overflow: hidden;
}
#page .unit:first-child {
  box-shadow: 0px 0px 20px #ccc;
}
#page .unit:last-child {
  box-shadow: 0px 4px 10px #ccc;
}
#page .unit:nth-child(2n) {
  background: rgba(240,240,245,0.9);
}
#page .unit:nth-child(2n+1) {
  background: rgba(246,246,249,0.9);
}
#page .unit .content {
  display: inline-block;
  width: 640px;
}
#page .unit .text,
#page .unit .avatar {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
}
#page .unit .avatar {
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 4px #808080;
}
#page .unit.joined {
  background: #d8d8fd;
}
#page #topic #add {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background: #f7f7f7;
  font-size: 24px;
  box-shadow: -2px -2px 6px #808080;
  border-radius: 10px 0px 0px 0px;
  color: #808080;
}
#page #topic #add #create {
  position: absolute;
  width: 700px;
  top: -16px;
  right: 0px;
  display: none;
  box-shadow: 0px 0px 20px #999;
  height: 26px;
}
#page #topic #add span {
  display: inline-block;
}
#topic {
  background: url("../pics/topics.png") no-repeat;
}
#posts {
  background: url("../pics/posts.png") no-repeat;
}
