* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
body {
  margin: 0px;
  font-size: 14px;
  font-family: Ubuntu;
  width: 2000px;
  overflow: hidden;
}
input {
  border: none;
  outline: none;
  box-shadow: 0px 0px 8px #b3b3b3;
  padding: 4px 8px;
}
#clock {
  position: absolute;
  top: 60px;
  left: 80px;
  font-size: 60px;
  color: #e8e8f7;
}
#setting {
  position: fixed;
  right: 0px;
  height: 100%;
  width: 40px;
  background: #ededed;
  padding: 40px;
  box-shadow: -4px 0px 8px #fff;
}
#setting .item {
  margin: 10px 0px;
  white-space: nowrap;
}
#setting .item span {
  width: 70px;
  display: inline-block;
}
#setting #avatar {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
#setting #toggle {
  color: #9e9efa;
  cursor: pointer;
}
#setting #toggle:hover {
  color: #00f;
}
#page {
  background: #e6e6e6;
  position: absolute;
  height: 100%;
  width: 1400px;
  left: 400px;
  margin-right: 800px;
}
#page #posts,
#page #topic {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
}
#page #posts {
  background: #f7f7f7;
}
#page #posts #show {
  height: 100%;
  width: 100%;
}
#page #posts #type {
  height: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #ccc;
}
#page #show,
#page #inside {
  padding-bottom: 200px;
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#page .unit {
  padding: 4px 5px;
}
#page .unit:nth-child(2n) {
  background: #ededed;
}
#page .unit .text,
#page .unit .avatar {
  vertical-align: middle;
}
#page .unit span {
  margin-left: 12px;
  white-space: nowrap;
}
#page .unit .avatar {
  width: 34px;
  height: 34px;
  box-shadow: 0px 0px 4px #808080;
}
#page #topic {
  background: #e6e6e6;
}
#page #topic #inside {
  width: 100%;
  height: 100%;
}
#page #topic #add {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background: #f7f7f7;
  font-size: 24px;
  box-shadow: -2px -2px 6px #808080;
  border-radius: 10px 0px 0px 0px;
  color: #808080;
}
#page #topic #add #create {
  position: absolute;
  width: 700px;
  top: 0px;
  right: 0px;
  display: none;
}
#page #topic #add span {
  display: inline-block;
}
